.getconnected-item {margin-bottom: 5px;}
.getconnected-options {display: none;}
.getconnected-title {font-size: 13px; display: block; margin-bottom: 5px;}

.farb-colorpicker { position: relative;}
.farb-colorpicker .cls-colorpicker { position: absolute; top: 24px; left: 0; z-index: 10; display: none; background: white; border: 1px solid #ababab;}
